<!DOCTYPE html>
<html>

<head>
    <title>
        = The Myth of = homeground
    </title>
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
    <link type="text/css" rel="stylesheet" href="/static/css/lobby.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
    <script type="text/javascript" src="http://malsup.github.io/min/jquery.cycle.all.min.js"></script>
</head>

<body>
    <% include const_elements/header %>
    <!--
    <div id="body-tmo-text-image"><img src="/static/_old/images/prototypes_v3/elementy/tmo-text-end.png" alt="tmo-text" /><img src="/static/_old/images/prototypes_v3/elementy/tmo-text.png" alt="tmo-text" /></div>
    <div id="tmo-header">
        <a id="tmo-logo-a-link" href="/"><img id="tmo-img" src="/static/_old/images/prototypes_v3/elementy/imageedit_33_3852496117_v8.png" alt="tmo-logo" /></a>
    </div>
    <div id="header-black-strip"></div>
    -->
    
    <% include const_elements/nav-top %>
    <!--
    <div id="nav-blue-strip"></div>
    <div id="tmo-nav-bar">
        <div id="tmo-ts-ip-clipboard" class="not-active"></div>
        <ul>
            <li><a href="roster.html">ROSTER</a></li>
            <li><a href="history.html">HISTORY</a></li>
            <li><a class="not-active" href="">WARS</a></li>
            <li><a href="halloffame.html">HALL OF FAME</a></li>
            <li><a href="apply.html">APPLY</a></li>
            <li><a class="not-active" href="">FORUM</a></li>
        </ul>
    </div>
    -->
    
    <% include const_elements/last-wars %>
    <!--
    <div id="last-results-container">
        <div id="last-wars-text" class="rotate">
            <p>LAST WARS</p>
        </div>
        <div id="results-container">
            <div class="single-result">
                <div class="clan-logo">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/imageedit_51_6420134037.png" alt="home-img"/></a>
                </div>
                <div class="war-result">
                    <div class="test-wrap-div color-blue">
                        <p><span class="">26</span><span class="color-black">:</span><span class="">17</span></p>
                        <p class="details-link"><a class="not-active" href="">details</a></p>
                    </div>
                </div>
                <div class="clan-logo">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/loga-cod/godlike.png" alt="oponent-img" /></a>
                </div>
            </div>
            <div class="single-result">
                <div class="clan-logo">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/imageedit_51_6420134037.png" alt="home-img"/></a>
                </div>
                <div class="war-result">
                    <div class="test-wrap-div color-blue">
                        <p><span class="">36</span><span class="color-black">:</span><span class="">17</span></p>
                        <p class="details-link"><a class="not-active" href="">details</a></p>
                    </div>
                </div>
                <div class="clan-logo">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/loga-cod/9gag.png" alt="oponent-img" /></a>
                </div>
            </div>
            <div class="single-result">
                <div class="clan-logo">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/imageedit_51_6420134037.png" alt="home-img"/></a>
                </div>
                <div class="war-result">
                    <div class="test-wrap-div color-blue">
                        <p><span class="">27</span><span class="color-black">:</span><span class="">10</span></p>
                        <p class="details-link"><a class="not-active" href="">details</a></p>
                    </div>
                </div>
                <div class="clan-logo">
                    <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/loga-cod/cg.png" alt="oponent-img" /></a>
                </div>
            </div>
        </div>
    </div>
    -->
    
    <% include const_elements/nav-bottom %>
    <!--
    <div id="black-to-white-strip"></div>
    <div id="blue-orange-pink-strip"></div>
    -->
    
    <div id="main-content">
        <div id="news">
            <div id="news-bar">
                <p>NEWS</p>
            </div>
            <% latestNews.forEach(function(news, index) { %>
                <div class="simple-news">
                    <div id="tmo-<%= index+1 %>-gradient-background" class="simple-news-headline">
                        <div class="headline">
                            <p><a href="/news/<%= news.newsid %>"><%= news.title %></a></p>
                        </div>
                        <div class="date">
                            <p>
                                <span class="font-style-italic">
                                    <%=  
                                        news.date.getFullYear() + '-' +
                                        ('0' + (news.date.getMonth()+1)).slice(-2) + '-' +
                                        ('0' + news.date.getDate()).slice(-2) + ' ' +
                                        ('0' + news.date.getHours()).slice(-2) + ':' + 
                                        ('0' + news.date.getMinutes()).slice(-2);
                                    %>
                                </span>
                            </p>
                            <p>a: <a href="/user/<%= news._authorid.userid %>">
                                <span class="font-style-italic color-grey">
                                    <% if (news._authorid.tag > 12) { %>
                                        <%= news._authorid.tag.substring(0, 8)+'...' %>
                                    <% } else { %>
                                        <%= news._authorid.tag %>
                                    <% } %>
                                </span></a> c: (<span class="font-style-italic color-grey"><%= news.commentscount %></span>)</p>
                        </div>
                    </div>
                    <div class="simple-news-content"> 
                        <div id="show-<%= index+1 %>-news-img" class="news-img">
                            <p id="show-<%= index+1 %>" class="show-more">MORE</p>
                            <img  src="<%= news.picturesrc %>" alt="<%= index+1 %>_news_img" />
                        </div>
                        <div id="show-<%= index+1 %>-news" class="tmo-<%= index+1 %>-box-shadow news-text is-hidden">
			                 <%- news.body %>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div> 

        <!-- float righ i 22px marginu od lewej lub 218 width -->
        <% include const_elements/right-container %>
        <!--
        <div id="right-container">
            <div class="slide-show">
                <div class="right-content active-right-content"> 
                    <div class="right-container-headline">
                        <p>CONTACT</p>
                    </div>
                    <img class="background-img" src="/static/_old/images/prototypes_v3/elementy/12721747_1133425616668662_641202480_n.jpg" alt="right-background" />
                    <div id="test-inside">
                    <div class="contact-social-icon">
                        <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/ghh.png" alt="steam-icon" /></a>
                    </div>
                    <div class="contact-social-icon">
                        <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/oie_1916227fKpUNtpU.png" alt="fb_icon" /></a>
                    </div>
                </div>
                    <div id="clock">
                        <p id="time"></p>
                    </div>
                    <div id="test-inside-2">
                        <div class="gmail-icon">
                        <a class="not-active" href=""><img src="/static/_old/images/prototypes_v3/elementy/oie_1916133XP7cfL1t.png" alt="gmail-icon" /></a>
                    </div>
                    </div>
                </div>
                <div class="right-content is-hidden">
                    <div class="right-container-headline">
                        <p>RANDOM STUFF</p>
                    </div>
                    <img class="background-img" src="/static/_old/images/prototypes_v3/elementy/imageedit_44_3098773349.jpg" alt="right-background" />
                </div>
            </div>
            <div id="test-inside-3">
                <div class="slide-icon active"></div>
                <div class="slide-icon"></div>
            </div>
        </div>
        -->
    </div>

    <% include const_elements/index-pagination %>
    <% include const_elements/footer %>
    <!--
    <div id="footer">
        <div id="copyrights">
            <p id="footer-copyrights">= THE MYTH OF = &copy; 2016</p>
        </div>
    </div>
    -->
    
    <script type="text/javascript" src="/static/scripts/lobby.js"></script>
</body>

</html>