<!DOCTYPE html>
<html>
    <head>
        <title>
            = The Myth of = homeground
        </title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/static/css/war-id.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>
    
    <body>
        <% include const_elements/header %>
        
        <% include const_elements/nav-top %>
        
        <% include const_elements/nav-bottom %>
        
        <%
        
            function addOrd(n) {
                var ords = [,'st','nd','rd'];
                var ord, m = n%100;
                return n + ((m > 10 && m < 14)? 'th' : ords[m%10] || 'th');
            }

            // Return date string two weeks from now (14 days) in 
            // format 13th March 2013
            function formatDatePlusTwoWeeks(d) {
                var months = ['January','February','March','April','May','June', 'July','August','September','October','November','December'];

                // Copy date object so don't modify original
                var e = new Date(d);

                // Add two weeks (14 days)
                e.setDate(e.getDate() + 14);
                return addOrd(e.getDate()) + ' ' + months[e.getMonth()] + ' ' + e.getFullYear();
            }
        
            var setColor = function(score) {
                var warColor = 'orange';
                if (score.our > score.their) {
                    warColor = 'blue';
                } else if (score.our < score.their) {
                    warColor = 'pink';
                }
                return warColor;
            };
        
        %>
        
        <div id="main-content">
            <% if (isTmoMemberOrSA) {%>
                <div id="delete-war">
                    <p>X</p>
                    <input type="hidden" name="warid" value="<%= war.warid %>">
                </div>
            <% }%>
            <div id="match-date">
               <p><%- formatDatePlusTwoWeeks(war.timestamp); %><span id="time"><%= ('0' + war.timestamp.getHours()).slice(-2) + ':' + ('0' + war.timestamp.getMinutes()).slice(-2); %></span></p>
                <!--<p>7th of August 2016 <span id="time">13:30</span></p>-->
            </div>
            <div id="clans-logos-and-result">
                <div class="home-wrap">
                    The Myth of <img class="home-img" src="<%= war.tmoTeamPic %>" alt="home-img" /><span class="score-part color-<%= setColor(war.overallScore) %>"><%= war.overallScore.our %></span>
                </div>
                <div class="separator color-<%= setColor(war.overallScore) %>">:</div>
                <div class="away-wrap">
                    <span class="score-part color-<%= setColor(war.overallScore) %>"><%= war.overallScore.their %></span><img class="away-img" src="<%= war.opponentTeamPic %>" alt="away-img"><%= war.opponentName %>
                </div>
            </div>
            <div id="results-container">
                <div id="maps-played">
                    Maps played:
                    <ul>
                        <% war.mapsPlayed.forEach(function(map) { %>
                            <li><%= map %></li>
                        <% }); %>
                    </ul>
                </div>
                <div id="partial-scores">
                    Partial scores:
                    <ul>
                        <% war.warResults.forEach(function(result) { %>
                            <li class="color-<%= setColor(result) %>"><%= result.our %>:<%= result.their %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
            <div id="line-ups">
                <div class="lu-header">Line-ups head to head</div>
                <div id="home-lineup">
                    <% war.tmoLineUp.forEach(function(player) { %>
                        <div class="player">
                            <img class="img-circle"     src="<%= player.userPictureSrc %>" alt="player-img">
                            <div class="player-name"><%= player.tag %></div>
                        </div>
                    <% }); %>
                    
                    <% war.tmoLineUpNotUser.forEach(function(player) { %>
                        <div class="player">
                            <img class="img-circle" src="/static/images/tmoolympus/const_elements/tmocomments-defaultuserphoto2.png" alt="player-img">
                            <div class="player-name"><%= player %></div>
                        </div>
                    <% }); %>
                </div>
                <div id="away-lineup">
                    <% war.opponentLineUp.forEach(function(player) { %>
                        <div class="player">
                            <img class="img-circle"     src="<%= player.userPictureSrc %>" alt="player-img">
                            <div class="player-name"><%= player.tag %></div>
                        </div>
                    <% }); %>
                    
                    <% war.opponentLineUpNotUser.forEach(function(player) { %>
                        <div class="player">
                            <img class="img-circle" src="/static/images/tmoolympus/const_elements/tmocomments-defaultuserphoto2.png" alt="player-img">
                            <div class="player-name"><%= player %></div>
                        </div>
                    <% }); %>
                </div>
            </div>
            <div class="screens-container">
                <% if (war.warImages.length > 0) { %>
                    In fact, there is a proof of this war
                    <div class="screenshots">
                    <% war.warImages.forEach(function(image) { %>
                        <img class="match-ss" src="<%= image %>" alt="match-ss" />
                    <% }); %>
                </div>
                <% } else { %>
                    Sadly, no one can confirm that this war took place with a solid proof
                <% } %>
            </div>
            <div id="war-report"><%= war.warReport %></div>

            <div class="comment-wrapper">
                
                <div id="comments">

                    <% war.comments.forEach(function(comment) { %>
                    <div id="com<%= comment.commentid %>" class="comment">
                        <div class="userpic">
                            <img src="<%= comment._userid.userPictureSrc %>" alt="userpic" />
                        </div>
                        <div class="postcontent">
                            <div class="header">
                                <p><a href="/user/<%= comment._userid.userid %>"><span class="nickname-color"><%= comment._userid.tag %></span></a> <span class="comment-date"><%= comment.date.getFullYear() + '-' +
                                        ('0' + (comment.date.getMonth()+1)).slice(-2) + '-' +
                                        ('0' + comment.date.getDate()).slice(-2) + ' ' +
                                        ('0' + comment.date.getHours()).slice(-2) + ':' + 
                                        ('0' + comment.date.getMinutes()).slice(-2); %></span></p>
                                <input class="reply-button" type="submit" value="reply" onclick="addCommentResponseBox(<%= comment.commentid %>);">
                                <% if ( comment._userid.userid == loggedUserId ) { %>
                                <input class="edit-button not-active" type="submit" value="edit">
                                <% } %>
                            </div>
                            <div class="message">
                                <%- comment.body %>
                            </div>
                        </div>
                        <% var printComments; %>
                        <% include functions/comments-function %>
                        <% if (comment.comments.length > 0) { %>
                            <%- printComments(comment.comments); %>
                        <% } %>
                    </div>
                    <% }); %>
                </div>

                <div id="main-reply">
                    <p>Reply to the main post:</p>
                    <form id="main-reply-form" method="post">
                        <input type="hidden" name="warurl" value="/war/<%= war.warid %>">
                        <input type="hidden" name="_war_id" value="<%= war._id %>">
                        <input type="hidden" name="parentCommentId" value="0">
                        <textarea id="reply-comment" name="replycomment" placeholder="Let us know what you think!"></textarea>
                        <input class="answer-button" type="submit" value="Answer">
                    </form>
                </div>
            </div>
        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- The Close Button -->
            <!--<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>-->

            <!-- Modal Content (The Image) -->
            <img class="modal-content" id="img01">

            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>
        
        <% include const_elements/footer %>
        
        <script type="text/javascript" src="/static/scripts/war-id.js"></script>
    </body>
</html>