<!DOCTYPE html>
<html>
    <head>
        <title>
            = The Myth of = homeground
        </title>
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet" type="text/css">
        <link type="text/css" rel="stylesheet" href="/static/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/static/css/war-list.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    </head>
    
    <body>
        <% include const_elements/header %>
        
        <% include const_elements/nav-top %>
        
        <% include const_elements/nav-bottom %>
        
        <% 
            var setColor = function(score) {
                var warColor = 'orange';
                if (score.our > score.their) {
                    warColor = 'blue';
                } else if (score.our < score.their) {
                    warColor = 'pink';
                }
                return warColor;
            };
        
        %>
        
        <div id="main-content">
            <div id="matches-stats">
                <span class="color-blue"><%= stats.win %> win</span>
                <span class="color-pink"><%= stats.lost %> loses</span>
                <span class="color-orange"><%= stats.draw %> draws</span>
            </div>
            <div id="matches-wrap">
            <% wars.forEach(function(war) { %>
                <div class="single-match">
                    <div class="match-date">
                        <%= ('0' + war.timestamp.getDate()).slice(-2) + '.' + ('0' + (war.timestamp.getMonth()+1)).slice(-2) + '.' + war.timestamp.getFullYear(); %>
                    </div>
                    <div class="small-wrap">
                        <div class="home-team">The Myth of <img class="clan-img-home" src="<%= war.tmoTeamPic %>" alt="home-logo" /> <span class="score-left color-<%= setColor(war.overallScore) %>"><%= war.overallScore.our %></span></div>
                        <div class="separator"><span class="color-<%= setColor(war.overallScore) %>">-</span></div>
                        <div class="away-team"><span class="score-right color-<%= setColor(war.overallScore) %>"><%= war.overallScore.their %></span> <img class="clan-img-away" src="<%= war.opponentTeamPic %>" alt="away-team" /> <%= war.opponentName %></div>
                    </div>
                    <div class="details-link"><a class="ahref-match-details" href="/war/<%= war.warid %>">details <span class="comments-count">(<%= war.commentscount %>)</span></a></div>
                </div>
            <% }); %>
            </div>
            <div id="load-more-matches">
                <p>Load more matches..</p>
            </div>
        </div>
        
        <% include const_elements/footer %>
        
        <script type="text/javascript" src="/static/scripts/war-list.js"></script>
    </body>
</html>