<% printComments = function(comments) { %>
    <% comments.forEach(function(comment) { %>
        <div id="com<%= comment.commentid %>" class="comment-in">
            <div class="userpic">
                <img src="/static/_old/userphoto.jpg" alt="userpic" />
            </div>
            <div class="postcontent">
                <div class="header">
                    <p><a href="/user/<%= comment._userid.userid %>"><span class="nickname-color"><%= comment._userid.tag %></span></a> <span class="comment-date"><%= comment.date.getFullYear() + '-' +
                                        ('0' + (comment.date.getMonth()+1)).slice(-2) + '-' +
                                        ('0' + comment.date.getDate()).slice(-2) + ' ' +
                                        ('0' + comment.date.getHours()).slice(-2) + ':' + 
                                        ('0' + comment.date.getMinutes()).slice(-2); %></span></p>
                    <input class="reply-button" type="submit" value="reply" onclick="addCommentResponseBox(<%= comment.commentid %>);">
                    <% if ( comment._userid.userid == loggedUserId ) { %>
                                <input class="edit-button not-active" type="submit" value="edit">
                    <% } %>
                </div>
                <div class="message">
                    <%- comment.body %>
                </div>
            </div>
            <% if (comment.comments.length > 0) { %>
                <%- printComments(comment.comments); %>
            <% } %>
        </div>
    <% }); %>
<% }; %>